PORT=3000
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
